<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF_8" />
    <meta name="viewport" content="width=device_width, initial_scale=1.0" />
    <title>Reset Password</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384_sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1>Reset Password</h1>
    <form
      method="post"
      action="/reset-password"
      class="p-4"
      style="max-width: 600px; margin: 20px auto"
      name="password_form"
    >
      <div class="mb-3">
        <label for="password" class="form-label">Enter Current Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="current_password"
          placeholder="Password"
          required
        />
      </div>
      <div class="mb-3">
        <label for="resetPassword" class="form-label">Enter New Password</label>
        <input
          type="password"
          class="form-control"
          id="reset_password"
          name="new_password"
          placeholder="New Password"
          required
        />
      </div>
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Submit Password</button>
      </div>
    </form>
  </body>
</html>
